<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>歌詞製作測試</title>
	<style type="text/css">
		.clickable-words {
			color: blue;
			margin-left: 5px;
			margin-right: 5px;
		}

		.clickable-words:hover {
			text-decoration: underline;
			cursor: pointer;
		}

		#lyricsDiv {
			height: 375px;
			width: 750px;
			overflow: auto;
		}

	</style>
	<script type="text/javascript">
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		var player;
		var vid;
		var title;
		

		function getYTVideo() {
			var yturl = document.getElementsByName("yturl")[0].value;
			var form = document.getElementsByTagName("form")[0];
			var btnDiv = document.getElementById("btnDiv");
			var content;
			vid = getVidFromUrl(yturl);
			player = new YT.Player('player', {
		    height: '400',
		    width: '640',
		    videoId: vid
		 	});

		 	content = "<textarea id='totalLyrics' rows='25' cols='75'></textarea>";
		 	form.innerHTML = content;
		 	btnDiv.innerHTML = "<button onclick='cutLyrics()'>提交</button>";
			document.getElementsByTagName("body")[0].removeChild(document.getElementsByTagName("div")[0]); 
		}

		function cutLyrics() {
			var totalLyrics = document.getElementById("totalLyrics");
			var btnDiv = document.getElementById("btnDiv");
			var form = document.getElementsByTagName("form")[0];
			var all_lyrics = totalLyrics.value.split("\n");
			var content = '<input type="text" name="title", size=100 placeholder="標題">' +
						  '<input type="hidden" name="vid" value="'+ vid +'">';

			for(var i = 0; i < all_lyrics.length; i++) {
				if(all_lyrics[i] !== "") {
					content += '<div class="partLyricsDiv">' +
							   '<input type="text" name="lyricsText" value="' + all_lyrics[i] + '" size="60">' +
							   '<input type="text" name="sText" size="5" placeholder="開始">' +
							   '<button type="button" onclick="seekVideoTime()">測試</button>' +
							   '<input type="text" name="eText" size="5" placeholder="結束">' +
							   '<button type="button" onclick="seekVideoTime()">測試</button>' +
							   //讓span可以被focus: tabindex="0"(預設為-1)
							   '<span class="clickable-words" onclick="delPartLyrics()" tabindex="0">刪除</span>' +
							   '<span class="clickable-words" onclick="insertPartLyrics()" tabindex="0">插入</span>' +
							   '</div>';
				}
			}

			form.innerHTML = content;
			btnDiv.innerHTML = '<button onclick="submitForm()">提交</button>';
			document.getElementsByName("sText")[0].focus();
		}

		function submitForm() {
			var form = document.getElementsByTagName("form")[0];
			var sTexts = document.getElementsByName("sText");
			var eTexts = document.getElementsByName("eText");
			var title = document.getElementsByName("title")[0].value;
			var message = "請正確輸入標題與所有時間欄位";
			if(title) {
				for(var i = 0; i < sTexts.length; i++) {
					if(!sTexts[i].value || isNaN(sTexts[i].value)) {
						window.alert(message);
						return; 
					}
				}
				for(var i = 0; i < eTexts.length; i++) {
					if(!eTexts[i].value || isNaN(eTexts[i].value)) {
						window.alert(message);
						return; 
					}
				}
			}
			else {
				window.alert(message);
				return;
			}
			form.submit();
		}


		function seekVideoTime() {
			var time = document.activeElement.previousElementSibling.value;
			if(parseInt(time)) {
				player.seekTo(time);
			}

		}

		function delPartLyrics() {
			var partLyricsDiv = document.activeElement.parentElement;
			var parent = partLyricsDiv.parentElement;
			parent.removeChild(partLyricsDiv);

		}

		function insertPartLyrics() {
			var nextDiv;
			var parent = document.activeElement.parentElement.parentElement;
			var newDiv = document.createElement("div");
			var content = '';
			content += '<input type="Text" name="lyricsText" size="60">' +
					   '<input type="Text" name="sText" size="5" placeholder="開始">' +
					   '<button type="button" onclick="seekVideoTime()">測試</button>' +
				       '<input type="Text" name="eText" size="5" placeholder="結束">' +
					   '<button type="button" onclick="seekVideoTime()">測試</button>' +
					   '<span class="clickable-words" onclick="delPartLyrics()" tabindex="0">刪除</span>' +
					   '<span class="clickable-words" onclick="insertPartLyrics()" tabindex="0">插入</span>';

			newDiv.setAttribute("class", "partLyricsDiv");
			newDiv.innerHTML = content;

			nextDiv = document.activeElement.parentElement.nextElementSibling;
			if(nextDiv) {
				parent.insertBefore(newDiv, nextDiv);
			}
			else {
				parent.appendChild(newDiv);
			}
		}

		function getVidFromUrl(url) {
			var vid = url.split("/")[3];
			if(vid.match("v="))	{
				vid = vid.split("v=")[1];
				if(vid.match("&")) {
					vid = vid.split("&")[0];
					return vid;
				}
				else {
					return vid;
				}
			}
			else {
				return vid;
			}
		}

		function getVideoTimeFromSpace() {
			var actElement = document.activeElement;
			var nextElement;
			if(actElement && actElement.name === "sText") {
				actElement.value = player.getCurrentTime().toFixed(2);
				if(actElement.parentElement.nextElementSibling) {
					nextElement = actElement.parentElement.nextElementSibling.children[1];
				}
				else {
					nextElement = actElement.parentElement.parentElement.children[2].children[3];
				}
				nextElement.focus();
				
			}
			else if(actElement && actElement.name === "eText") {
				actElement.value = player.getCurrentTime().toFixed(2);
				if(actElement.parentElement.nextElementSibling) {
					nextElement = actElement.parentElement.nextElementSibling.children[3];
					nextElement.focus();
				}
			}
		}

		document.onkeydown = function() {
			key = event.keyCode;
			if(key == 32) {				//key space
				getVideoTimeFromSpace();
			}
		}
	</script>
</head>

<body>
	<div>
		<label>輸入Youtube URL:
			<input type="text" name="yturl">
		</label>
		<button onclick="getYTVideo()">開始</button>
	</div>
	<div id="player"></div>
	<div id="lyricsDiv">
		<form method="post" action=".">
		</form>
	</div>
	<div id="btnDiv"></div>
</body>
</html>